/*
style plans
consider a gradient for the background
find or make a nice vector image of the world and use on the home component

*/


.text-header {
  height:100px;
}

body {
  /*background-color: #05270E;*/
  background-color: Gainsboro;
  font-family: 'Lato', sans-serif;
}

h1,h3{
  color: Black;
}

#landing-page{
  background-image: url('images/globe-crop.png');
  background-size: 100%;
  background-repeat: no-repeat;
  min-height: 500px;
}

#landing-page h1{
  color: white;
  margin: 100px 0 0 30px;
}

#landing-page .translateit-btn {
  margin: 30px 0 0 30px;
}

.landing-card {
  margin: 0 0 0 30px;
}

.translateit-btn {
  background-color: #1565c0;
  text-transform: none;
}

.translateit-btn:hover {
  background-color: #0d47a1;
}

.translateit-btn:active {
  background-color: #0d47a1;
}

#header{
  background-color: DimGrey;
  border: 2px solid white;
}

/* Styles for Video Scroller in ShowOneContainer */
.scroller-outer {width: 800px; height: 335px; overflow: scroll;}
.scroller-inner {width: 10000px}
.video {float:left;}
.scroller-outer::-webkit-scrollbar{width: 6px; background-color: #F5F5F5;}
.scroller-outer::-webkit-scrollbar-thumb{background: #000000;}

#footer {
  padding: 10px;
  color: white;
}

#footer a {
  color: #7cd5ff;
  font-weight: bolder;
}

.footer-image {
  height: 25px;
  width: auto;
}

#github p {
  margin: 5px 0 0 0;
}
